*
{
	font-family: monospace;
}

#nav-bar
{
	float: right;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: rgb(66,119,206);
}

li
{
	display: inline;
}

li a
{
	text-decoration: none;
	color: white;
	margin: 10px;
}

li:hover
{
	background-color: rgb(164,166,168);
}

hr
{
	opacity: 0.7;
	color: gray;
	width: 90%;
}

#title
{
	text-align: center;
}

/*MOBILE PHONE VIEWPORT*/
@media only screen and (max-width: 768px)
{
	#title
	{
		font-size: 300%;
	}

	img
	{
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
		height: 50%;
		border-radius: 150px;
		border: 1px solid black;
	}

	.caption
	{
		text-align: center;
	}

	.bio
	{
		margin-left: 5%;
	}

	li
	{
		font-size: 105%;
	}
}

/*TABLET & DESKTOP VIEWPORT*/
@media only screen and (min-width: 768px) 
{
	#title
	{
		font-size: 700%;
	}

	img
	{
		margin-left: 12%;
		width: 50%;
		height: 50%;
		border-radius: 150px;
		border: 1px solid black;
	}

	li
	{
		font-size: 200%;
	}

	.float-left
	{
		float: left;
	}

	.picture-caption
	{
		margin-left: 8%;
		width: 30%;
	}

	.text-block
	{
		width: 20%;
	}

	.caption
	{
		text-align: center;
		margin-left: -30%;
	}

	.bio
	{
		font-size: 150%;
		width: 90%;
	}
}